:root {
    --border: #e0e0e1;
    --screen-size: (100vw - 425px) / (1920 - 425);

    --font-size-body1: calc(15px + (15 - 12) * var(--screen-size));
    --font-size-body2: calc(12px + (14 - 12) * var(--screen-size));
    --font-size-btn: var(--font-size-body2);
    // --font-size-overline: 1rem;
    --font-size-caption: 12px;

    --font-size-h1: calc(34px + (96 - 34) * var(--screen-size));
    --font-size-h2: calc(31px + (60 - 31) * var(--screen-size));
    // --font-size-h3: 1rem;
    --font-size-h4: calc(24px + (34 - 24) * var(--screen-size));
    --font-size-h5: calc(15px + (24 - 15) * var(--screen-size));
    // --font-size-h6: 1rem;

    --swiper-navigation-size: 1rem;
}
