// Variables
@import "variables";

@import "~line-awesome/dist/line-awesome/css/line-awesome.css";

@import "~vue-slick-carousel/dist/vue-slick-carousel.css";

@import "~vue-tel-input/dist/vue-tel-input.css";

@import "~swiper/css/swiper.css";

@import "~vuetify/dist/vuetify.min.css";

// @import "main";

// Theme overrides
.v-application {
    font-family: "Overpass", sans-serif;

    &.theme--light {
        background: #dfdfdf;
        color: #000000;
    }

    &.theme--dark {
        background: #000000;
    }
}

// .v-menu__content {
//     &.theme--dark {
//         .v-list {
//             background: #18191a;
//         }
//     }
// }

.rounded-section {
    border-radius: 10px;
}

.v-divider {
    border-color: #dfdfdf !important;
    // border-width: 2px 0 0;
}

.h-100 {
    height: 100%;
}

a {
    text-decoration: none;
}

h1 {
    font-size: var(--font-size-h1);
    font-weight: 300;
    line-height: calc(43px + (122 - 43) * var(--screen-size));
    letter-spacing: -1.5px;
}

h2 {
    font-size: var(--font-size-h2);
    font-weight: 300;
    line-height: calc(45px + (76 - 45) * var(--screen-size));
    letter-spacing: -0.5px;
}

h3 {
    font-size: var(--font-size-h3);
    font-weight: 400;
    letter-spacing: 0;
}

h4 {
    font-size: var(--font-size-h4);
    font-weight: 400;
    letter-spacing: 0.25px;
}

h5 {
    font-size: var(--font-size-h5);
    font-weight: 400;
    letter-spacing: 0;
}

h6 {
    font-size: var(--font-size-h6);
    font-weight: 500;
    letter-spacing: 0.15;
}

.body1,
.subt1 {
    font-size: var(--font-size-body1);
}

.body2,
.subt2 {
    font-size: var(--font-size-body2);
}

button,
a {
    font-size: var(--font-size-body2);
}

.caption {
    font-size: var(--font-size-caption);
}

.overline {
    font-size: var(--font-size-overline);
}

.subtitle1 {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.15px;
}

.bold {
    font-weight: 700;
}

.subtitle2 {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.15px;
}

.text-white {
    color: #ddd !important;
}

.body1 {
    font-family: "Roboto";
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 18px;
}

.body2 {
    font-family: "Roboto";
    font-size: 12px;

    @media (min-width: 960px) {
        font-size: 14px;
        letter-spacing: 0.25px;
    }
}

@media (max-width: 960px) {
    h1 {
        letter-spacing: -0.03px;
    }
}

@media (max-width: 600px) {
    h1 {
        letter-spacing: -0.02px;
    }

    .subtitle1 {
        font-size: 13px;
    }
    .body1 {
        font-size: 13px;
    }
}

//for scroll styles

.overflow-uw::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

.overflow-uw::-webkit-scrollbar-thumb {
    background: #373737;
    border-radius: 4px;
}

.overflow-uw::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.overflow-uw::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}

.overflow-uw::-webkit-scrollbar-track:hover,
.overflow-uw::-webkit-scrollbar-track:active {
    background: #d4d4d4;
}
