// Variables
@import "variables";

@import "~line-awesome/dist/line-awesome/css/line-awesome.css";

@import "~vue-slick-carousel/dist/vue-slick-carousel.css";

@import "~vue-tel-input/dist/vue-tel-input.css";

@import "~swiper/css/swiper.css";

@import "~vuetify/dist/vuetify.min.css";

// @import "main";

// Theme overrides

.v-application {
    font-family: "Causten", sans-serif;
    font-size: 16px;

    &.theme--light {
        background: #fafcfc;
        color: #000000;
    }

    &.theme--dark {
        background: #000000;
    }
}

.rounded-section {
    border-radius: 10px;
}
.v-divider {
    border-color: #dfdfdf !important;
    // border-width: 2px 0 0;
}

.h-100 {
    height: 100%;
}

.fw-600 {
    font-weight: 600;
}

a {
    text-decoration: none;
}

h1 {
    font-size: var(--font-size-h1);
    font-weight: 400;
    line-height: calc(43px + (122 - 43) * var(--screen-size));
    letter-spacing: -1.5px;
}

h2 {
    font-size: var(--font-size-h2);
    font-weight: 400;
    line-height: calc(45px + (76 - 45) * var(--screen-size));
    letter-spacing: -0.5px;
}

h3 {
    font-size: var(--font-size-h3);
    font-weight: 400;
    letter-spacing: 0;
}

h4 {
    font-size: var(--font-size-h4);
    font-weight: 400;
    line-height: calc(30px + (43 - 30) * var(--screen-size));
    letter-spacing: 0.25px;
}

h5,
.h5 {
    font-size: var(--font-size-h5);
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0;
}

h6 {
    font-size: var(--font-size-h6);
    font-weight: 500;
    letter-spacing: 0.15px;
}

.body1,
.body2 {
    font-family: var(--font-size-body1);
    overflow-x: hidden;
}

.body1,
.subt1 {
    font-size: var(--font-size-body1);
    line-height: 18px;
    letter-spacing: 0.5px;
}

.body2,
.subt2 {
    font-size: var(--font-size-body2);
}

.tx-caption {
    font-size: var(--font-size-caption);
    font-weight: 400;
    letter-spacing: 0.4px;
}

button,
a {
    font-size: var(--font-size-body2);
}

.overline {
    font-size: var(--font-size-overline);
}

.text-white {
    color: #ddd !important;
}

//for scroll styles

.overflow-uw::-webkit-scrollbar {
    width: 3px;
}

.overflow-uw::-webkit-scrollbar-thumb {
    background: #373737;
    border-radius: 4px;
}

.overflow-uw::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.overflow-uw::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}

.overflow-uw::-webkit-scrollbar-track:hover,
.overflow-uw::-webkit-scrollbar-track:active {
    background: #d4d4d4;
}

.gap-3 {
    gap: 1rem;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
